.orderDetailsPage {
  .card-body {
    th {
      font-size: 13px;
      padding: 5px;
    }

    tbody {
      td {
        padding: 5px;

        &:nth-of-type(1),
        &:nth-of-type(2),
        &:nth-of-type(3),
        &:nth-of-type(4),
        &:nth-of-type(5) {
          cursor: pointer;
        }

        input {
          padding: 0;
          width: 30px;
          height: 25px;
          font-size: 10px;
          text-align: center;
          margin: 0 auto;
        }
      }
    }

    th.empty {
      background: #c5c5c5;
    }
  }

  .aboutTable {
    h5 {
      color: $color;
      font-size: 18px;
    }
  }
}

#sendToMarketModal {
  .confirmArea {
    p {
      color: $red;
      font-size: 14px;
      text-align: center;
      line-height: 18px;
    }
  }
}
