.userList {
    table {
        tr {
            &.isNotActive {
                background: $red;
                color: white;
                .btn {
                    color: white;
                    border-color: white;
                }
                i {
                    color: white;
                }
            }
            &.archive {
                background: $yellow;
                color: white;
                .btn {
                    color: white;
                    border-color: white;
                }
                i {
                    color: white;
                }
            }
        }
        .userStatus {
            width: max-content;
            select {
                font-size: 13px;
            }
        }
    }
}
